.container {
    display: flex;
    gap: 2px;
    flex-wrap: wrap;
    margin: auto;
    height: 500px;
    width: 570px;
    position: relative;
    top: 100px;
}

.on-hover {
    background-color: green;
}